.advantages {
  padding: 50px 0 40px;
  h2 {
   @extend %h2;
  }
  .flex-ct {
    display: flex;
    justify-content: space-between;
    @media (min-width: 320px) and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
  .row-2 {
    margin: -42px 0 0;
    @media (min-width: 320px) and (max-width: 1024px) {
      margin: -30px 0 0;
    }
  }
  .row-3 {
    margin: -78px 0 0;
    @media (min-width: 320px) and (max-width: 1024px) {
      margin: -55px 0 0;
    }
  }
  .adv-ct-1, .adv-ct-2 {
    width: 45%;
    .text-ct {
      @media (min-width: 320px) and (max-width: 1024px) {
        width: 60%;
      }
    }
  }
  .adv-ct-3, .adv-ct-4 {
    width: 32%;
    .text-ct {
      @media (min-width: 320px) and (max-width: 1024px) {
        width: 75%;
      }
    }
  }
  .adv-main-ct {
    width: 33%;
    @media (min-width: 320px) and (max-width: 768px) {
      width: 45%;
      margin: -40px auto 0;
    }
    @media (min-width: 320px) and (max-width: 480px) {
      margin: -15px auto 0;
    }
    @media (min-width: 320px) and (max-width: 375px) {
      margin: 0 auto;
      width: 85%;
    }
    img {
      width: 100%;
    }
  }
  .adv-ct {
    display: flex;
    align-self: center;
    @media (min-width: 320px) and (max-width: 768px) {
      width: 100%;
      margin: -50px 0 0;
    }
    @media (min-width: 320px) and (max-width: 480px) {
      margin: -25px 0 0;
    }
    @media (min-width: 320px) and (max-width: 375px) {
      margin: 10px 0;
    }
    .text-ct {
      align-self: center;
    }
    .img-ct {
      align-self: center;
      width: 175px;
      position: relative;
      img {
        width: 100%;
      }
    }
    .caption {
      color: #1d1d1d;
      font-family: 'latobold', sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
    }
    .desc {
      color: #1d1d1d;
      font-family: 'latoregular', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
    }
  }
  .first-adv-ct {
    @media (min-width: 320px) and (max-width: 768px) {
      margin: 0;
    }
  }
  .adv-left-ct {
    justify-content: flex-end;
    .text-ct {
      margin: 0 20px 0 0;
    }
    p {
      text-align: end;
    }
  }
  .adv-right-ct {
    .img-ct {
      margin: 0 20px 0 0;
    }
  }
  .line {
    width: 44px;
    border-bottom: 3px dotted #9cb5da;
    position: absolute;
    @media (min-width: 320px) and (max-width: 1024px) {
      width: 36px;
    }
    @media (min-width: 320px) and (max-width: 768px) {
      display: none;
    }
  }
  .line-1 {
    transform: rotate(50deg);
    bottom: 8px;
    right: 8px;
  }
  .line-2 {
    transform: rotate(130deg);
    bottom: 8px;
    left: 8px;
  }
  .line-3 {
    top: 49%;
    right: -36px;
  }
  .line-4 {
    top: 49%;
    left: -36px;
  }
  .line-5 {
    top: 0;
    right: 8px;
    transform: rotate(130deg);
  }
  .line-6 {
    top: 0;
    left: 8px;
    transform: rotate(50deg);
  }
  .flex-ct {
    @media (min-width: 320px) and (max-width: 768px) {
      margin: 0;
    }
  }
}