.certificate {
  padding: 45px 0 40px;
  position: relative;
  h2 {
    @extend %h2;
  }
  .certificate-img {
    display: block;
    margin: 0 auto;
  }
  .hexagon-1 {
    position: absolute;
    top: 40%;
    right: 40px;
    width: 312px;
    height: 314px;
  }
  .hexagon-2 {
    position: absolute;
    top: 0;
    left: 10px;
    width: 378px;
    height: 368px;
  }
  .hexagon-3 {
    position: absolute;
    bottom: 4%;
    left: 20px;
    width: 312px;
    height: 314px;
  }
}