header {
  background-color: #252525;
  padding: 18px 0 20px;
  .flex-ct {
    display: flex;
    justify-content: space-between;
    .main-text-ct {
      width: 60%;
      display: flex;
      justify-content: space-between;
    }
    .main-phone-ct {
      width: 40%;
      display: flex;
      justify-content: flex-end;
    }
  }
  .text-ct {
    display: flex;
    align-self: center;
    h2 {
      align-self: center;
      color: #ffde00;
      font-family: 'latoblack_italic', sans-serif;
      font-size: 30px;
      font-weight: 400;
      margin: 0 12px 0 0;
    }
    svg {
      margin: 0 11px 0 0;
    }
    p {
      color: #ffffff;
      font-family: 'latolight', sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 16px;
    }
  }
  .phone-ct {
    .phone-number {
      display: flex;
      margin: 0 0 15px;
    }
    svg {
      margin: 0 6px 0 0;
    }
    p {
      align-self: center;
      color: #ffffff;
      font-family: 'latoblack', sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 16px;
    }
    .link-ct {
      a {
        color: #ffde00;
        font-family: 'latolight', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
        text-decoration: underline;
        transition: .3s;
        &:hover {
          text-shadow: 1px 1px 2px orange, 0 0 1em white;
        }
      }
    }
  }
}