.reviews {
  padding: 50px 0 40px;
  @media (min-width: 320px) and (max-width: 667px) {
    padding: 15px 0 30px;
  }
  h2 {
    @extend %h2;
    @media (min-width: 320px) and (max-width: 667px) {
      margin: 0 0 20px;
    }
  }
  .card {
    width: 92%;
    margin: 0 auto 40px;
    box-shadow: 0 22px 46px rgba(20, 20, 20, 0.13);
    background-color: #ffffff;
    padding: 35px 40px;
    display: flex;
    justify-content: space-between;
    @media (min-width: 320px) and (max-width: 768px) {
      flex-wrap: wrap;
      width: auto;
    }
    .img-ct {
      width: 45%;
      @media (min-width: 320px) and (max-width: 768px) {
        order: 2;
        margin: 0 auto;
      }
      img {
        width: 100%;
      }
    }
    .text-ct {
      width: 50%;
      @media (min-width: 320px) and (max-width: 768px) {
        width: 100%;
        order: 1;
        margin: 0 0 20px;
      }
      .caption {
        color: #547ebc;
        font-family: 'latobold', sans-serif;
        font-size: 22px;
        font-weight: 700;
        margin: 0 0 12px;
        @media (min-width: 320px) and (max-width: 768px) {
          text-align: center;
        }
      }
      .desc {
        color: #1d1d1d;
        font-family: 'latoregular', sans-serif;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  .btn-ct {
    button {
      display: block;
      margin: 0 auto;
      padding: 20px 84px;
      box-shadow: 0 6px 6px rgba(255, 222, 0, 0.29);
      background-color: #ffde00;
      color: #1d1d1d;
      font-family: 'latobold', sans-serif;
      font-size: 18px;
      font-weight: 700;
      border: none;
      transition: .3s;
      border-radius: 5px;
      &:hover {
        background-color: orange;
      }
    }
  }
}