.top-content {
  background: url("../img/top-content-bg.png") no-repeat 50% 100%;
  background-size: cover;
  padding: 95px 0 50px;
  @media (min-width: 320px) and (max-width: 960px) {
    padding: 60px 0 50px;
  }
  @media (min-width: 320px) and (max-width: 667px) {
    padding: 35px 0 50px;
  }
  h2 {
    text-align: center;
    color: #212121;
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 51px;
    @media (min-width: 320px) and (max-width: 768px) {
      font-size: 28px;
      line-height: 1.2;
    }
    span {
      color: #547ebc;
    }
  }
  .flex-ct {
    position: relative;
  }
  .text-ct {
    position: relative;
    z-index: 2;
    .deliver-text {
      margin: 15px 0 60px;
      text-align: center;
      color: #212121;
      font-family: 'Lato', sans-serif;
      font-size: 30px;
      font-weight: 300;
      line-height: 16px;
      @media (min-width: 320px) and (max-width: 480px) {
        margin: 15px 0 40px;
        line-height: 1.2;
      }
    }
    .advantages-items {
      margin: 0 0 150px;
      @media (min-width: 320px) and (max-width: 768px) {
        margin: 0 0 100px;
      }
      @media (min-width: 320px) and (max-width: 667px) {
        margin: 0 0 20px;
      }
      ul {
        display: flex;
        @media (min-width: 320px) and (max-width: 1024px) {
          flex-wrap: wrap;
          justify-content: center;
        }
        li {
          display: flex;
          margin: 0 15px 0 0;
          @media (min-width: 320px) and (max-width: 1024px) {
            width: 45%;
            margin: 0 10px 20px;
          }
          @media (min-width: 320px) and (max-width: 480px) {
            width: 100%;
          }
          svg {
            fill: #547ebc;
            margin: 0 2px 0 0;
          }
          p {
            color: #212121;
            font-family: 'latosemibold', sans-serif;
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
    }
  }
  .stock-ct {
    //width: 40%;
    position: relative;
    z-index: 3;
    align-self: flex-end;
    display: flex;
    justify-content: flex-start;
    @media (min-width: 320px) and (max-width: 667px) {
      order: 2;
      display: block;
      margin: 0 auto;
    }
    .card {
      width: 375px;
      background-color: #ffffff;
      box-shadow: 0 22px 46px rgba(20, 20, 20, 0.13);
      display: flex;
      padding: 0 0 28px;
      flex-direction: column;
      @media (min-width: 320px) and (max-width: 960px) {
        width: 340px;
      }
      @media (min-width: 320px) and (max-width: 667px) {
        margin: 0 auto;
      }
      @media (min-width: 320px) and (max-width: 375px) {
        width: auto;
      }
      .caption-ct {
        background-color: #547ebc;
        width: 100%;
        p {
          padding: 25px 0;
          text-align: center;
          color: #ffffff;
          font-family: 'Lato', sans-serif;
          font-size: 20px;
          font-weight: 900;
        }
      }
      .term {
        //color: red;
        text-align: center;
        color: #547ebc;
        font-family: 'Lato', sans-serif;
        font-size: 42px;
        font-weight: 900;
        margin: 33px 0 25px;
        @media (min-width: 320px) and (max-width: 667px) {
          font-size: 36px;
        }
      }
      a {
        text-decoration: none;
        display: block;
        margin: 0 auto;
      }
      button {
        width: 303px;
        height: 56px;
        border-radius: 5px;
        align-self: center;
        box-shadow: 0 6px 6px rgba(255, 222, 0, 0.29);
        background-color: #ffde00;
        border: none;
        color: #1d1d1d;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-weight: 700;
        transition: .3s;
        &:hover {
          background-color: orange;
        }
        @media (min-width: 320px) and (max-width: 375px) {
          width: 90%;
        }
      }
    }
  }
  .img-ct {
    width: 60%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    @media (min-width: 320px) and (max-width: 1024px) {
      width: 100%;
    }
    @media (min-width: 320px) and (max-width: 768px) {
      bottom: 50px;
    }
    @media (min-width: 320px) and (max-width: 667px) {
      display: none;
    }
    img {
      width: 100%;
    }
  }
}