.video {
  padding: 30px 0 0;
  position: relative;
  h2 {
    @extend %h2;
  }
  .hexagon-1 {
    position: absolute;
    width: 312px;
    height: 314px;
    z-index: -1;
    top: -100px;
    right: 0;
    @media (min-width: 320px) and (max-width: 768px) {
      display: none;
    }
  }
  .video_desc {
    color: #1d1d1d;
    font-family: 'latobold', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 15px 0 55px;
  }
  .video-ct {
    iframe {
      display: block;
      width: 948px;
      height: 518px;
      margin: 0 auto;
      background-color: #181818;
      //opacity: 0.59;
      @media (min-width: 320px) and (max-width: 1100px) {
        width: 100%;
      }
      @media (min-width: 320px) and (max-width: 1024px) {
        width: 90%;
        margin: 0 auto;
        height: 425px;
      }
      @media (min-width: 320px) and (max-width: 768px) {
        height: 350px;
      }
      @media (min-width: 320px) and (max-width: 568px) {
        height: 270px;
      }
      @media (min-width: 320px) and (max-width: 375px) {
        height: 200px;
      }
    }
    p {
      color: #1d1d1d;
      font-family: 'latobold', sans-serif;
      font-size: 24px;
      font-weight: 700;
      margin: 20px 0 55px;
      text-align: center;
    }
  }
}